@import 'variables.scss';

.content {
  display: flex;
  flex-direction: column;
}

@media(min-width: 768px) {
  .parent {
    justify-content: flex-end;
    background-image: url('../images/andreas.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 60vw;
   }
  .content,.parent::after { width: 35vw; }
}

@media(min-width: 992px) {
  .parent { background-size: 45vw; }
  .content,.parent::after { width: 45vw; }
}