@import 'variables.scss';

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.charts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}

@media(min-width: 768px) { .charts { grid-template-columns: repeat(2, 1fr); }}
@media(min-width: 1024px) { .charts { grid-template-columns: repeat(3, 1fr); }}