@import url('https://fonts.googleapis.com/css?family=Open+Sans|Righteous&display=swap');
@import 'variables.scss';

* { box-sizing: border-box; }
html {
  height: 100%;
  background-color: $cbm;
  background-image: url('../images/home.jpg');
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}
body { 
  margin: 0;
  color: $cm;
  font-family: $fontRegular;
  font-size: 1em;
}
h1,h2 { 
  font-family: $fontHeading; 
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1em;
  margin: 0 0 1em 0;
}
h1 { font-size: 2.5em; }
h2 { font-size: 1.2em; }
a { 
  color: $cs; 
  text-decoration: underline transparent;
  transition: ease-in 0.1s, ease-out 0.5s;
}
a:hover { text-decoration: underline $cs; }
hr {
  border: 0;
  border-top: 1px solid #555;
}

@media(min-width: 996px) {
  html { background-position: top 15% center; }
}