@import 'variables.scss';

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em;
  z-index: 1313;
}
.logo { 
  display: block;
  width: 3em; 
  filter: drop-shadow($darkSmallShadow);
  transition: transform 1s ease-in-out;
}

@media(min-width: 768px) {
  header {
    height: 5em;
    align-items: center;
    background-color: $cbh;
    border-bottom: $darkBorder;
  }
}