@import 'variables.scss';

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 5em 1em 0 1em;
  overflow: hidden;
  &:nth-child(odd) { background-color: $cbm; }
  &:nth-child(even) { background-color: $cbs; }
  &:first-child { background-color: transparent; }
  &::after {
    content: '';
    height: 1em;
    border-top: 1px solid $cs;
    margin-top: 1em;
  }
}

@media(min-width: 768px) {
  .section { padding: 7em 3em 3em 3em; }
}
