@import 'variables.scss';

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.burger { display: none; }
.burger-lines {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.2em;
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 2em;
  z-index: 13;
  cursor: pointer;
}
.burger-line {
  height: 3px;
  border-radius: 10px;
  background-color: $cs;
  transform-origin: 0% 50%;
  transition: ease-in-out 0.2s;
  box-shadow: 0 1px 1px #000;
}
.burger:checked ~ .burger-lines {
  .burger-line { 
    width: 1.125em; 
    box-shadow: none;
  }
  .burger-line:first-child { transform: rotate(45deg); }
  .burger-line:nth-child(2) { opacity: 0; }
  .burger-line:last-child { transform: rotate(-45deg); }
}
.burger:checked ~ nav { 
  transform: translate(-75vw); 
  box-shadow: -1px 0 5px #000;
}