@import 'variables.scss';

.nav-list { 
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.nav-link { 
  color: $cm;
  display: block;
  padding: 0.25em 0; 
}

@media(min-width: 768px) { 
  .nav-link { padding: 0; }
}