@import 'variables.scss';

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
}
.img {
  max-width: 100%;
  width: 100%;
  border: 1px solid $cs;
}

@media(min-width: 768px) { .items { grid-template-columns: repeat(2, 1fr); }}
@media(min-width: 1024px) { .items { grid-template-columns: repeat(3, 1fr); }}