@import 'variables.scss';

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  
}
.wrapper {
  width: 100%;
  //overflow: hidden;
  flex: 1;
}
.items {
  transform-style: preserve-3d;
}
.item {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 100;
  transition: .5s;
  &>div {
    text-align: center;
    margin: 1em 0;
  }
}
.item-active {
  opacity: 1;
  position: relative;
  z-index: 900;  
}
.item-prev { transform: translateX(-100%); }
.item-next { transform: translateX(100%); }
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1em 0;
}
.prev, .next {
  color: $cm;
  font-size: 2em;
  filter: drop-shadow($lightSmallShadow);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.prev:hover, .next:hover { 
  filter: none;
  transform: translateY(1px);
  top: 1px;
}
.dot {
  display: inline-block;
  margin: 0 0.3em;
  background-color: $cm;
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
}
.dot-active { background-color: $cs; }
.img {
  max-width: 100%;
  border: $darkBorder;
  box-shadow: $darkBigShadow;
}

@media(min-width: 768px) { 
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>a { 
      width: 60%; 
      margin-right: 2em;
    }
    &>div { 
      width: 40%; 
      text-align: left;
    }
  }
}

@media(min-width: 992px) {
  .item {
    &>a, &>div { width: 50%; }
  }
}