// Colors
$cm: #fff;
$cs: #f0f;
$cbm: rgba(17, 17, 17, 0.95);
$cbs:  rgba(51, 51, 51, 0.95);
$cbh: rgba(0, 0, 0, 0.5);

// Fonts
$fontHeading: 'Righteous', cursive;
$fontRegular: 'Open Sans', sans-serif;